version: '1'
services:
  devpi:
    image: quay.io/jedmitten/docker-devpi:latest
    volumes:
      - ./data:/data
    ports:
      - 3141:3141
    environment:
      - DEVPI_PASSWORD=
    restart: always
